td,
th {
  border: 1px solid #000;
  padding: 3px 5px;
 white-space: nowrap;
}

.grey{
  background-color: antiquewhite;
}

thead{
  background-color: rgb(33, 161, 112);
  position: sticky;
  top: 0;
}