td,
th {
  border: 1px solid #000;
  padding: 3px 5px;
  white-space: nowrap;
  scroll-snap-align: start;
}

.grey {
  background-color: antiquewhite;
}
.white {
  background-color: #fff;
}

thead {
  background-color: rgb(33, 161, 112);
}

tbody,
thead {
  overflow: auto;
}
.tableWrapper {
  position: relative;
  scroll-snap-type: x mandatory;
}
